/.vs
/.vs
*.vsidx
/DBScriptBackup/bin/Debug
/DBScriptBackup/obj
DBScriptBackup/obj/Debug/net8.0/DBScriptBackup.csproj.FileListAbsolute.txt
/DBScriptBackup/bin/Debug/net8.0/DBScriptBackup.dll
/DBScriptBackup/bin/Debug/net8.0/DBScriptBackup.exe
/DBScriptBackup/bin/Debug/net8.0/DBScriptBackup.pdb
/.claude
/DBScriptBackup/obj/Debug/net8.0/apphost.exe
/DBScriptBackup/obj/Debug/net8.0/DBScriptBackup.AssemblyInfo.cs
/DBScriptBackup/obj/Debug/net8.0/DBScriptBackup.AssemblyInfoInputs.cache
/DBScriptBackup/obj/Debug/net8.0/DBScriptBackup.csproj.FileListAbsolute.txt
/DBScriptBackup/obj/Debug/net8.0/DBScriptBackup.dll
/DBScriptBackup/obj/Debug/net8.0/DBScriptBackup.genruntimeconfig.cache
/DBScriptBackup/obj/Debug/net8.0/DBScriptBackup.pdb
/DBScriptBackup/obj/Debug/net8.0/ref/DBScriptBackup.dll
/DBScriptBackup/obj/Debug/net8.0/refint/DBScriptBackup.dll
